<div class="container">
    <div class="row">
        <div class="col-12" style="margin-top: 20px">
            <mat-card style="margin: 50px 0">
                <h1 class="alert alert-primary">User Account</h1>
                <button mat-stroked-button color="accent" class="mat-button-toggle-group btn-outline-danger" (click)="logOut()">Log Out
                    <mat-icon color="accent" matSuffix>logout</mat-icon>
                </button>
            </mat-card>
        </div>
    </div>
</div>
